*.local
*.pyc
*.netrwhist
*.bak

rcm/config/git/config-user
rcm/config/ssh/config-user-secret
rcm/config/ssh/key-user
rcm/config/ssh/known_hosts
rcm/config/ssh/known_hosts-user
rcm/host-*/
rcm/tag-darwin/config/karabiner/automatic_backups/
rcm/tag-nix/secrets-nix.env

/__pycache__/
config/fish/fish_history
config/fish/fish_read_history
config/fish/fishd*
vim/plugged

.gitsecret/keys/random_seed
!*.secret
